<%= render partial: "admin_site/admin_navbar" %>

<div class="full-width-content">
  <div class="full-width-header">Invoice #<%= @invoice.id %></div>
  <div class="info-box">
    <div class="info-box-item">Status: <%= @invoice.status %></div>
    <div class="info-box-item">Created At: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></div>
    <div class="info-box-item"><%= "Customer Name: #{@invoice.customer.first_name} #{@invoice.customer.last_name}" %></div>
  </div>
</div>
