<h1>Merchant: <%= @merchant.name %></h1>

<section class="merchant_items">
  <%= link_to "Merchant Items", merchant_items_path(@merchant), method: :get %>
</section>

<section class="merchant_invoices">
  <%= link_to "Merchant Invoices", merchant_invoices_path(@merchant), method: :get %>
</section>

<section class="merchant_top_5_customers">
  <h3> Top 5 Customers for <%= @merchant.name %> </h3>
  <ul>
    <% @merchant_top_5_customers.each do |customer| %>
      <p> <%= customer.first_name %> <%= customer.last_name %> | Successful Transactions w/ Merchant: <%= customer.transactions.count %></p>
    <% end %>
  </ul>
</section>

<section class="merchant_items_to_be_shipped">
  <h3> Items Ready to Ship </h3>
</section>