<%= render partial: "admin_site/admin_navbar" %>

<%= link_to("New Merchant", "/admin/merchants/new", class: "new-merchant-link") %>

<div class="page-content">
  
  <div class="content-column">
    <div class="content-header">Enabled Merchants</div>
    <ol class="content-ordered-list with-button" id="enabled-merchants">
      <% @merchants.each do |merchant| %>
        <% if merchant.status == "enabled" %>
          <li class="ordered-list-item" id="merchant-<%= merchant.id %>">
            <%= link_to merchant.name, admin_site_merchant_path(merchant) %>
            <%= form_with url: admin_site_merchant_path(merchant), method: :patch do |form| %>
              <%= form.hidden_field :name, value: merchant.name %>
              <%= form.hidden_field :status, value: "disabled" %>
              <%= form.submit "disable" %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ol>

    <div class="content-header">Disabled Merchants</div>
    <ol class="content-ordered-list with-button" id="disabled-merchants">
      <% @merchants.each do |merchant| %>
        <% if merchant.status == "disabled" %>
          <li class="ordered-list-item" id="merchant-<%= merchant.id %>">
            <%= link_to merchant.name, admin_site_merchant_path(merchant) %>
            <%= form_with url: admin_site_merchant_path(merchant), method: :patch do |form| %>
              <%= form.hidden_field :name, value: merchant.name %>
              <%= form.hidden_field :status, value: "enabled" %>
              <%= form.submit "enable" %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ol>
  </div>

  <div class="content-column">
    <div class="content-header">Top Merchants</div>
    <ol class="content-ordered-list" id="top-merchants">
      <% @top_merchants.each do |merchant| %>
        <li class="ordered-list-item">
          <%= link_to merchant.merchant_name, admin_site_merchant_path(merchant) %>
          <div class="revenue">Total sales: $<%= number_with_delimiter(merchant.total_revenue / 100, :delimiter => ',') %></div>
          <div class="revenue">Date with the highest revenue: <br>&nbsp;&nbsp;<%= merchant.date_of_most_revenue %></div>
        </li>
      <% end %>
    </ol>
  </div>

</div>
