<h1>Merchant: <%= @merchant.name %></h1>

<section class="merchant_items">
  <%= link_to "Merchant Items", merchant_items_path(@merchant), method: :get %>
</section>

<section class="merchant_invoices">
  <%= link_to "Merchant Invoices", merchant_invoices_path(@merchant), method: :get %>
</section>

<section class="merchant_top_5_customers">
  <h3>Top Five Customers</h3>
  <% @merchant.top_five_customers.each do |customer| %>
    <h3> <%= customer.customer_name %> | Successful Transactions w/ Merchant: <%= customer.transaction_result %> </h3>
  <% end %>
</section>

<section class="merchant_items_to_be_shipped">
  <h3> Items Ready to Ship </h3>
    <% @merchant.ready_to_ship_items.each do |invoice_item| %>
      <h3> <%= invoice_item.item.name %> | 
      <%= link_to "Invoice #{invoice_item.invoice_id}", "/merchants/#{@merchant.id}/invoices/#{invoice_item.id}", method: :get %> |
      <%= invoice_item.invoice.created_at.strftime("%A, %B %d, %Y") %>
      </h3>
    <% end %>
</section>